.gradle/
build/
out/
classes/
remappedSrc/
run/
*.launch
.idea/
*.iml
*.ipr
*.iws
.fleet/
.settings/
.vscode/
bin/
.classpath
.project
workspace/
*.DS_Store

common/.gradle/
common/build/
common/out/
common/classes/
common/remappedSrc/
common/run/
common/*.launch
common/.idea/
common/*.iml
common/*.ipr
common/*.iws
common/.fleet/
common/.settings/
common/.vscode/
common/bin/
common/.classpath
common/.project
common/workspace/
common/*.DS_Store

quilt/.gradle/
quilt/build/
quilt/out/
quilt/classes/
quilt/remappedSrc/
quilt/run/
quilt/*.launch
quilt/.idea/
quilt/*.iml
quilt/*.ipr
quilt/*.iws
quilt/.fleet/
quilt/.settings/
quilt/.vscode/
quilt/bin/
quilt/.classpath
quilt/.project
quilt/workspace/
quilt/*.DS_Store

neoforge/.gradle/
neoforge/build/
neoforge/out/
neoforge/classes/
neoforge/remappedSrc/
neoforge/run/
neoforge/*.launch
neoforge/.idea/
neoforge/*.iml
neoforge/*.ipr
neoforge/*.iws
neoforge/.fleet/
neoforge/.settings/
neoforge/.vscode/
neoforge/bin/
neoforge/.classpath
neoforge/.project
neoforge/workspace/
neoforge/*.DS_Store